[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "SpatialRDD"]
	path = SpatialRDD
	url = https://github.com/axlehner/spatialrdd
